
/ .top-write
/   チャットグループが作成されました。
.contents.clearfix
  .left-content
    %header.left-content__header.clearfix
      .introduce__name
        = current_user.name
      = link_to "/users/#{current_user.id}/edit" do
        .fa.fa-cog.introduce__botton--display
      = link_to "/users/#{current_user.id}/edit" do
        .fa.fa-pencil-square-o.introduce__botton--display
    - @groups.each do |group|
      = render partial: "shared/left-mid",locals: {group: group}
    /ここ部分テンプレート使うけど今は省略
    / =@hairetu.each do |article|
    /   = render partial: "group", locals: { article: @hairetu }
  .right-content
    .chat-group.clearfix
      .chat-group__div
        .chat-group--big
          = @group.name
        .chat-group--small
          cxzcz
      .chat-group__div--right
        = link_to destroy_user_session_path, method: "delete" do
          %input.chat-group__link{type:  "submit", value: "exit"}
    .right-mid
    %footer.right-foot.clearfix

