.left-mid.show__friend
  -if current_user.avatar?
    = image_tag current_user.avatar,class: "image__friend"
  -else
    = image_tag "/assets/Kusf_Ydu.jpg",class: "image__friend"
  =  friend.name
  //current_userのグループの中でonetooneを持っているフレンドがいればトークを表示、そうでなければトーク作成を表示する
  //-friendgroups = Group.includes(:users).where(user: { [id: current_user.id,friend.id]})
  //#-binding.pry
  //-if
  -talk = friend.talk_search(current_user)
  -if talk != nil
    = link_to "/groups/#{talk.id}/messages" ,class: "left-mid__groupname" do
      トーク
  -else
    = link_to group_newfriend_path(friend_id: friend.id),class: "left-mid__groupname" do
      トーク作成
